.logo {
    width: 100px;
}

.section-2 {
    margin-top: 40px;
}

.section-2_Image {
    text-align: right;
}

.section-2_ImageSize {
    width: 350px;
    height: 350px;
}


.section-2_ImageSize_1 {
    width:260px;
    height:80px;
}

.section_2_col1_content {
    border:0;
}

.section_2_col1_text_color {
color:gray
}

.WhatWeDo {
    text-align: left;
}

.WhatWeDoTextContent {
    text-align: justify;
    color: gray;
}

.WhatWeDoTextContentLineHeight {
    margin-bottom:15px ;
}
.imgWhatWeDo {
    width:22px;
    height:22px;
}

.kada_link {
    color:#4fD240;
    font-weight:bold;
}

.Accordion-button:not(.collapsed),
.Accordion-button:not(.collapsed):focus {
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px;
}